<!-- <header>
  <nav>
      <a routerLink='/playground' routerLinkActive="active">Playground</a>
      <a routerLink='/' routerLinkActive="active">Home</a>
      <a routerLink='/plinko' routerLinkActive="active">Plinko</a>
      <a routerLink='/birds' routerLinkActive="active">Angry Winged Animals</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main> -->

<!-- <mat-toolbar color="secondary">
  <mat-toolbar-row>
    <a mat-button routerLink="/playground" routerLinkActive="active">Playground</a>
    <a mat-button routerLink="/" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/plinko" routerLinkActive="active">Plinko</a>
    <a mat-button routerLink="/birds" routerLinkActive="active">Angry Winged Animals</a>
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main> -->

<mat-toolbar class="toolbar">
  <mat-toolbar-row class="toolbar">
    <span>SPA Final Project</span>
    <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu">
      {{ currentComponent }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu-drop">
      <a mat-menu-item routerLink="/" routerLinkActive="active"
         (click)="currentComponent = 'Home'">Home</a>
      <a mat-menu-item routerLink="/playground" routerLinkActive="active"
         (click)="currentComponent = 'Playground'">Playground</a>
      <a mat-menu-item routerLink="/plinko" routerLinkActive="active"
         (click)="currentComponent = 'Plinko'">Plinko</a>
      <a mat-menu-item routerLink="/birds" routerLinkActive="active"
         (click)="currentComponent = 'Angry Winged Animals'">Angry Winged Animals</a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<span>
  <router-outlet class="components"></router-outlet>
  <!-- <app-playground-form></app-playground-form> -->
</span>