.object-form {
    background-color: rgb(233, 196, 106);
    border-radius: 10px;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.spawn {
    text-align: center;
    align-content: center;
}