<span class="maintext">
    <h1>Home</h1>
    <p>Welcome to my final project! This is a brief demo of the library Matter.js, which is a simple 2D physics engine.</p>
    <h3>Navigation</h3>
    <p>To navigate through the functions of my site, click the drop-down menu at the top right of the screen.</p>
    <h3>Playground</h3>
    <p>Playground will be initialized with a few basic objects in the environment. Use the menu <br> on the top of the screen to adjust the parameters of the object you
        would like to add to the environment, <br> then click the 'Create Object' button to drop it into the environment.</p>
    <img class="image" src="assets/spawn.png" alt="Spawn item box">
    <h3>Plinko</h3>
    <p>A classic game of Plinko. Click 'Drop Ball' to drop a ball into the Plinko environment.</p>
    <h3>Angry Winged Animals</h3>
    <p>A 100% original idea that has absolutely no relation to the game 'Angry Birds'. Click and drag <br> the ball on the left side of the screen and release to shoot the ball.</p>
</span>